{% extends 'admin/admin_layout.html.twig' %}

{% block body %}

{%include 'includes/messages.html.twig'%}
<h1>Posts</h1>
<a href="{{path('admin_post_new')}}">Criar Post</a>
<hr>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Título</th>
            <th>Criado EM</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
            <tr>
                <td>{{post.id}}</td>
                <td> <a href="{{path('admin_post_update', {'id': post.id})}}">{{post.title}}<a></td>
                <td>{{post.createdAt|date('d/M/Y H:i:s')}}</td>
                <td> 
                    <a href="{{path('admin_post_update', {'id': post.id})}}">Editar<a>
                    <a href="{{path('admin_post_delete', {'id': post.id})}}">Deletar<a>
                </td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}